html {
  font-size: 16px;
  line-height: 1.75;
  box-sizing: border-box;
}
*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-size: inherit;
  line-height: inherit;
  font-family: "Helvetica Now Text", Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
div {
  display: block;
  unicode-bidi: isolate;
}
header {
  display: block;
  unicode-bidi: isolate;
}
footer {
  display: block;
  unicode-bidi: isolate;
}
figure,
ol,
ul {
  margin: 0;
}
ol,
ul,
li {
  list-style: none;
  list-style-type: none;
}
ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
button {
  overflow: visible;
  margin: 0;
  text-transform: none;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  padding-block: 1px;
  padding-inline: 6px;
}
svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}
fieldset,
h1,
h2,
h3,
h4,
h5,
h6,
label,
legend,
li,
p,
span,
strong,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
nav {
  display: block;
  unicode-bidi: isolate;
}
video {
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;
}
a {
  color: black;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
  background-color: transparent;
}
#gen-nav-commerce-header {
  position: relative;
  z-index: 100;
}
.skip-to-main-content {
  position: absolute;
  padding: 0 10px;
  height: 26px;
  z-index: 10;
  background: #fff;
  font-size: 14px;
  left: 0;
  min-height: 26px;
  line-height: 26px;
  transform: translateX(-10000%);
  margin: 5px 0px 0px 10px;
}
.wrapper {
  background: #f5f5f5;
  position: relative;
  z-index: 3;
}
.topbar-1 {
  padding: 0 48px;
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  align-items: center;
}
.topbar-2 {
  grid-column: span 6;
}
.topbar-2 ul {
  height: 36px;
  display: flex;
  gap: 24px;
  align-items: center;
}
.topbar-2 a {
  padding: 0;
}

.topbar-3 {
  grid-column: span 6;
}
.topbar-3 ul {
  float: right;
  align-items: center;
  display: flex;
  padding-bottom: 0px;
  padding-right: 8px;
}
.topbar-3 li {
  position: relative;
  display: flex;
  align-items: center;
  height: 36px;
  color: black;
}
.topbar-3 div {
  border-right: 1px solid;
  height: 12px;
  margin: 12px;
}
.header-style {
  position: relative;
  z-index: 2;
  transition: transform 150ms ease;
  background-color: rgb(255, 255, 255);
}
.header-1 {
  position: relative;
}
.header-2 {
  padding: 0 24px;
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  align-items: center;
}
@media (min-width: 960px) {
  .header-2 {
    padding: 0 48px;
    max-width: 1920px;
  }
}
.header-3 {
  display: inline-flex;
  height: 60px;
  grid-column: span 5;
}
@media (min-width: 960px) {
  .header-3 {
    grid-column: span 2;
  }
}
.header-3 a {
  z-index: 1;
  display: inline-block;
  height: 59px;
  width: 59px;
  margin: 1px 0;
}
.header-3 svg {
  transform: scale(1.33);
  height: 100%;
  width: 100%;
}
.header-4 {
  height: 60px;
  grid-column: span 1;
}
@media (min-width: 960px) {
  .header-4 {
    grid-column: span 7;
  }
}
.header-4 nav {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
}
@media (max-width: 959px) {
  .header-4 nav {
    display: none;
  }
}
.header-4 ul {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 60px;
  flex-wrap: wrap;
  width: calc(100% - 616px);
  overflow: hidden;
  max-width: 1255px;
}
.header-4 div {
  background-color: white;
  display: flex;
  padding-bottom: 0px;
  padding-left: 12px;
  min-height: 60px;
  align-items: center;
}
.header-4 a {
  color: black;
  border-bottom: 2px solid transparent;
  white-space: nowrap;
}
.header-5 {
  grid-column: span 6;
}
@media (min-width: 960px) {
  .header-5 {
    grid-column: span 3;
  }
}
.header-6 {
  float: right;
  gap: 4px;
  display: flex;
}
.header-6 search {
  z-index: 1;
}
.header-6 button {
  color: black;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
  border: none;
  border-radius: 30px;
  outline: none;
}
.header-6 div {
  width: 24px;
  height: 24px;
  line-height: 1.75;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}
.scrim {
  background-color: rgba(17, 17, 17, 0.36);
  bottom: 0;
  display: block;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: opacity 250ms, visibility 0s linear 250ms;
  transition: opacity 250ms, visibility 0s linear 250ms;
  visibility: hidden;
  z-index: 1;
}
.banner {
  height: auto;
  min-height: 58px;
  box-shadow: #e5e5e5 0 -1px 0 0 inset;
  position: relative;
  background: #f5f5f5;
  padding-top: 10px;
  overflow: hidden;
  white-space: nowrap;
}
.banner-2 {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  text-align: center;
}
.banner-2 span {
  font-family: inherit;
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  display: block;
  vertical-align: middle;
}
.banner-2 div {
  display: inline-block;
  font-size: 12px;
  line-height: 2;
}
.banner-2 a {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}
.media-wrapper {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
  width: 100%;
}
@media (min-width: 640px) {
  .media-wrapper {
    margin-top: 0px;
  }
}
.media-wrapper-2 {
  font-size: 0;
  margin-left: -6px;
  margin-right: -6px;
}
.media-wrapper-2::before {
  content: "";
  display: table;
}
.media-wrapper-2::after {
  clear: both;
  content: "";
  display: table;
}
.media-wrapper-3 {
  vertical-align: top;
}
@media only screen and (min-width: 960px) {
  .media-wrapper-3 {
    width: 100%;
    display: inline-block;
    margin-left: 0;
  }
}
[class*="media-wrapper-3"] {
  position: relative;
  min-height: 1px;
  display: inline-block;
  font-size: 16px;
  line-height: 1.75;
  padding-left: 6px;
  padding-right: 6px;
}
.media-wrapper-4 {
  position: relative;
  height: 100%;
}
.media-wrapper-5 {
  position: relative;
  width: 100%;
  max-width: 100%;
  flex-grow: 1;
  pointer-events: auto;
  height: 100%;
}
.media-wrapper-6 {
  aspect-ratio: 2.88 / 1;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #f5f5f5;
}
.media-wrapper-7 {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 1;
  -moz-user-select: none;
  user-select: none;
}
.card-overlay {
  width: calc(100% - 48px);
  text-align: left;
  justify-content: flex-end;
  height: 33.33333%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: absolute;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 960px) {
  .card-overlay {
    left: 48px;
    user-select: auto;
    top: calc(66.66667% - 48px);
  }
}
.card-overlay-content {
  text-align: left;
}
.card-overlay-content h1 {
  font: 800 4.75rem/0.9 "Nike Futura ND", "Helvetica Now Text Medium", Helvetica,
    Arial, sans-serif;
  color: white;
  text-transform: uppercase;
}
.card-overlay-content p {
  margin-top: 8px;
  text-align: left;
  font: 400 1rem / 1.5 "Helvetica Now Text", Helvetica, Arial, sans-serif;
  color: white;
  text-align: left;
}
.cta-container {
  position: relative;
  z-index: 2;
  margin-top: 18px;
}
.cta-container a {
  display: inline-flex;
  vertical-align: top;
  color: black;
  z-index: 1;
  margin-left: 0;
  margin-right: 6px;
  margin-top: 6px;
  max-width: 100%;
  font: 600 1rem/1.5 "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  padding: 6px 16px 6px;
  min-height: 34px;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  background: white;
  border: none;
  border-radius: 30px;
  outline: none;
  word-wrap: break-word;
}
.cta-container a::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 30px;
}
.cta-container a::after {
  content: "";
  display: table;
  clear: both;
}
.ripple {
  display: block;
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  background-size: 100%;
  transform: translate3d(-50%, -50%, 0) scale(10);
  transform-origin: center center;
  opacity: 0;
  transition: transform 0.8s, opacity 1s;
  margin: 0;
}
.video-bg-link {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
}
.rvp-video-root {
  width: 100%;
  height: 100%;
}
.video-container {
  height: 100% !important;
  padding-top: 0 !important;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
  height: 100% !important;
  padding-top: 0 !important;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
  background-color: transparent;
  font-size: 16px;
  width: 100%;
  max-width: 100%;
  outline: none;
  display: block;
  vertical-align: top;
  box-sizing: border-box;
  color: #fff;
  position: relative;
  padding: 0;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  word-break: initial;
}
.video-container video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-bg-image {
  background-image: url("/template.jpg");
  opacity: 0;
  background-color: transparent;
  display: block !important;
  user-select: none;
  pointer-events: none;
  background-size: cover;
  transition: opacity 0.5s;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.video-element {
  bottom: 1em;
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  pointer-events: none;
}
.video-element-2 {
  position: absolute;
  inset: 0px;
  margin: 1.5%;
}
.container-footer {
  width: 100%;
  max-width: 1920px;
  margin: auto;
}
@media (min-width: 960px) {
  .container-footer {
    padding: 48px;
  }
}
.footer-header {
  color: black;
  margin-bottom: 12px;
}
.footer-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 24px;
  row-gap: 12px;
  flex-wrap: wrap;
  position: static;
  border-top: 1px solid transparent;
}
.footer-list p,
span {
  color: #707072;
}
.container-6 {
}
@media (min-width: 960px) {
  .container-6 {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    flex-direction: row;
  }
}
.container-7 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
  flex: 1 0 0;
}
.container-7 a {
  margin-bottom: 12px;
}
.container-8-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
}
.container-8 {
  width: 100%;
  display: flex;
  height: 21px;
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
}
@media (min-width: 960px) {
  .container-8 {
    -webkit-box-pack: end;
    justify-content: flex-end;
  }
}
.container-8 button {
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  font: 600 0.875rem / 1.5 "Helvetica Now Text Medium", Helvetica, Arial,
    sans-serif;
  position: relative;
  cursor: pointer;
  display: block;
  padding: 0;
  background: transparent;
  text-align: start;
  border: 0;
  color: #707072;
}
.container-8 span {
  width: 16px;
  height: 16px;
  display: inline-flex;
  margin-inline-end: 4px;
  margin-inline-start: 0;
}
.container-8 svg {
  width: 16px;
  height: 16px;
  transform: translateY(3px);
  content: "";
  position: absolute;
}
.container-19 {
  padding-bottom: 48px;
}
.container-20 {
  height: 1px;
  background: #e5e5e5;
}
@media (min-width: 960px) {
  .container-20 {
    margin-bottom: 60px;
  }
}
.footer-spacer {
}
@media (min-width: 960px) {
  .footer-spacer {
    margin-bottom: 72px;
  }
}
.style-1 {
  color: #707072;
  cursor: pointer;
  text-decoration: none;
}

@keyframes slide-search-results-tray {
  0% {
    right: -100px;
  }
  100% {
    right: 0;
  }
}
